* {
    padding: 0;
    margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #fff;
}

main > h2 {
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    color: #4B5D9D
}

main > a {
    margin-bottom: 60px;
    text-decoration: none;
    color: #4B5D9D;
    padding: 3px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

main > a > img {
    width: 10px;
    padding-right: 5px;
}

main > a:hover {
    background-color: #c0c0c06b;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    box-sizing: border-box;
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    margin-top: 30px;
}

.pesquisa, .pesquisa2 {
    display: flex; 
    align-items: center;
    width: 658px; 
    border-radius: 20px;
    border: 1px solid #ccc; 
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.search, .search2{
    height: 48px; 
    opacity: 1; 
    width: 100%; 
    border: none; 
    outline: none; 
    padding: 0 15px; 
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.pesquisa2{
    width: 568px;
}
.pesquisa button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 15px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa button img {
    width: 30px;
    transition: scale 0.5s;
}

.pesquisa button img:hover {
    scale: 1.1;
}

.pesquisa a img {
    width: 30px;
    margin-right: 10px;
    margin-top: 9px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.pesquisa a img:hover{
    opacity: 1;
}

.search::placeholder{
    color: #a0a0a0;
}

.search:focus, .search2:focus{
    border: 2px solid #4B5D9D;
    border-radius: 20px;
}

.menu{
  margin: 0;
  width: 221px;
  height: 100vh;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  box-sizing: border-box;
}

.menu > a > img{
    margin-top: 35px;
    width: 150px;
    background-color: #ececec;
}

.menu ul {
  list-style: none;
  font-size: 15px;
  font-weight: 200;
  padding: 0;
  margin: 0 0 20px 0;
  background-color: #ececec;
}

.menu li a{
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #808080;
    margin: 15px 0;
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    transition: color 0.5s;
}

.menu .quebrado{
    margin-right: 55px;
}

.menu #quebradao {
    margin-right: 60px;
}

.menu li a img {
    background-color: transparent;
}

.menu li a:hover {
    color: #4B5D9D;
    font-weight: 400;
    text-decoration: underline;
}

.fundo {
    width: 949px;
    height: 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #ececec;
    margin-top: 40px;
}

.tabela{
    background-color: transparent !important;
    margin-top: 80px; 
    font-weight: 200;
}

table {
    border-collapse: separate; 
    border-spacing: 0 10px; 
    width: 90%; 
    margin: 0 auto;
    border: none; 
}

.tabela tr {
    display: flex; 
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    border-radius: 12px;
    position: relative;
    height: 50px; 
}

.tabela th {
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #495057;
    font-weight: 700;
}

.tabela p {
    margin-right: 10px;
}

.tabela th:nth-child(1),
.tabela td:nth-child(1) {
    flex-basis: 35%; 
    justify-content: center; 
}

.tabela th:nth-child(2),
.tabela td:nth-child(2) { 
    flex-basis: 25%;
    justify-content: center;
}

.tabela th:nth-child(3),
.tabela td:nth-child(3) { 
    flex-basis: 25%;
    justify-content: center; 
    font-weight: bold;
}

.tabela td {
    border: none !important; 
    padding: 10px 15px;
    margin: 0 5px; 
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #495057;
    font-weight: 400 !important;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.342); 
    background-color: #e6e5e5;
    display: flex; 
}

.verde td details summary{
    transition: color 0.3s;
}

.verde td details summary:hover{
    color: rgb(255, 255, 255);
}

.tabela td:nth-child(1) {
    font-weight: bold;
}

.tabela tr.verde td,
.tabela tr.verde th { 
    background-color: #94CC72; 
    color: #615F5F;
}

.tabela tr.vermelho td,
.tabela tr.vermelho th { 
    background-color: #FB9B89; 
    color: #615F5F;
}

.tabela tr.verde th {
    background-color: transparent; 
}


.clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  list-style: none;
  width: 100%;
  padding: 0;
  margin-top: 20px;
}

.clientes a {
    text-decoration: none;
}

.clientes li {
  position: relative;               
  display: flex;
  align-items: center;
  justify-content: center;          
  width: 400px;
  background-color: #efefef;
  padding: 25px 100px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-size: 16px;
  color: #333;
  font-family: "Inria Sans", sans-serif;
  transition: transform 0.2s, box-shadow 0.2s;
}

.clientes li:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.clientes li img {
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.clientes-header2 {
    width: 568px; 
    margin: 30px auto 10px auto; 
    margin-bottom: 60px;
    position: relative; 
    text-align: center; 
}

.icone-adicionar-container {
    position: absolute; 
    width: 35px; 
    height: 35px;
    display: block; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    margin-right: 15px; 
}

.icone-base {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5; 
}

.icone-overlay {
    position: absolute;
    width: 15px; 
    height: 15px;
    right: 0px; 
    bottom: 0px; 
    border-radius: 50%; 
    border: 1px solid #ffffff; 
    background-color: #ffffff; 
    padding: 2px; 
}

.icone-adicionar-container:hover .icone-base {
    opacity: 1; 
}

.pesquisa2 button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 15px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa2 button img {
    width: 30px;
    transition: scale 0.5s;
}

.pesquisa2 button img:hover {
    scale: 1.1;
}

.pesquisa2 a img {
    width: 30px;
    margin-right: 10px;
    margin-top: 9px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.pesquisa2 a img:hover{
    opacity: 1;
}

main .card {
    margin-top: 60px;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.342); 
    background-color: #ececec;
    padding: 50px 150px 50px 150px;
    border-radius: 10px;
}

.card input {
    width: 306px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #D9D9D9;
}

.card .cadastro input:focus {
    border: 2px solid #4B5D9D;
    outline: none;
}

.card .cadastro input:focus::placeholder {
    color: #4B5D9D;
}

.card .coluna {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card .salvar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 406px;
    height: 45px;
    background-color: #4b5d9d85;
    margin: 55px auto 0 auto;
    transition: background-color 0.3s;
}

.card .salvar:hover {
    background-color: #4b5d9d;
}

.card a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

main .h2 {
    margin-top: 75px;
}

.sair3 img {
    width: 25px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    margin-top: 85px;
    margin-left: 10px;
}

.sair3 img:hover {
    opacity: 1;
}

main header {
    display: flex;
    align-items: center;    
    justify-content: space-between; 
    margin-bottom: 20px;
}

.botao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.5s;
}

.botao:hover {
    transform: scale(1.1);
}

#voltar img{
    width: 30px;
}

.card .botoes-acao {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 20px;
}

.info {
    margin-top: 50px;
    background-color: #4B5D9D;
    border-radius: 10px;
    padding: 10px 0; 
    width: 100%; 
    margin: 50px 0 0 0; 
    border-spacing: 0;
}

.info tr {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center;
    padding: 0 10px; 
}

.info tr th {
    color: white;
    font-weight: 200;
    text-align: center;
    margin-left: 55px;
    margin-bottom: 10px;
}

.info tr:not(:first-child) {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.info tr th:nth-child(1) {
    width: 30%; 
    text-align: center;
}

.info tr .num {
    color: white;
    text-align: center; 
    width: 30%;
    padding: 8px 0;
}

.info tr th:nth-child(2) {
    width: 70%;
    text-align: center;
}

.info tr .obs {
    background-color: #D9D9D9;
    padding: 3px 15px;
    border-radius: 15px;
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4B5D9D; 
}

.info tr:first-child {
    display: flex;
    width: 100%;
}

header > h2 {
    color: #4B5D9D; 
}

.clientes-header2 h2 {
    width: 100%;
    text-align: center;
}

.pesquisa2 {
    margin-left: 14px;
}